rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Chat rooms can be read by anyone, but only created by signed-in users.
    // No one can update or delete them directly.
    match /chatRooms/{roomId} {
      allow read, list: if true;
      allow create: if request.auth != null;
      // Allow users to update the publicKeys map
      allow update: if request.auth != null && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['publicKeys']);
      allow delete: if false;

      // Messages can be created by any authenticated user.
      // A single message can be read if the user is the recipient.
      // A list of messages can be queried ONLY if the query filters for the user's own recipientId.
      // No one can update or delete messages directly.
      match /messages/{messageId} {
        allow write: if request.auth != null;
        allow read: if request.auth != null && resource.data.recipientId == request.auth.uid;
        allow list: if request.auth != null && request.query.where.size() == 1 && request.query.where[0].field == "recipientId" && request.query.where[0].op == "==" && request.query.where[0].value == request.auth.uid;
        allow update, delete: if false;
      }
    }
  }
}
